@use "@/assets/style/icon" as *;
@use "@/assets/style/vant" as *;

@font-face {
  font-family: "AlimamaDongFangDaKai";
  src: url("../fonts/alimamaDongFangDaKai/AlimamaDongFangDaKai-Regular.otf") format("opentype"),
    url("../fonts/alimamaDongFangDaKai/AlimamaDongFangDaKai-Regular.ttf") format("truetype"),
    url("../fonts/alimamaDongFangDaKai/AlimamaDongFangDaKai-Regular.woff") format("woff"),
    url("../fonts/alimamaDongFangDaKai/AlimamaDongFangDaKai-Regular.woff2") format("woff2");
}

body {
  font-family: "AlimamaDongFangDaKai" !important;
}

#app {
  height: 100vh;
  line-height: 1;
  color: $font-color;
  font-size: $font-size-medium-x;
}
