//背景颜色规范
$background-color: #fff;
$background-color-m: #fafbfd;
$background-color-mm: #f7f7f7;
$background-color-d: #f0eff5;
$border-color: #f5f5f5;
$border-color-m: #ddd;
$border-color-d: #7f7f81;
$border-color-dd: #2b2b2b;
$confirm-color: #f2f7f3;
$confirm-box-color: rgba(0, 0, 0, 0.5);
$theme-color: #43bb57;
$touch-color: #d9d9d9;

//字体颜色规范
$font-color: #9d9d9b;
$font-color-d: #5b5b59;
$font-color-dd: #101010;
$font-color-l: #bfbfbf;
$font-color-ll: #fff;

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 20px;
$font-size-large-xx: 22px;
